<html>
<head><title>Admin Page</title>
<style>
body { 
	background-color: #000000;
	color: #FFFFFF;
	font: 14px sans-serif;
} 
.block{
	font: 11px monospace;
}
a:link, a:visited {
	color: #7777FF;
	text-decoration:none;
}
a:hover, a:active {
	color: #FFFFFF;
	text-decoration:underline;
}
</style>
</head>
<body>
<b>What do you want to do?</b><br>
<br>
Admin tasks:<br>
<a href="../init" target="_blank">Insert image into database</a><br>
Cron jobs:<br>
<a href="../fetchPics" target="_blank">Run Fetch Images</a><br>
Display:<br>
<a href="../serve_all_pics" target="_blank">Display latest 25 images</a><br>
Individual images (only last 5):
<div class="block">
{% for count in images %}
	{% if not forloop.first %}
	{% ifequal count.count 0 %}
	<br>
	{% endifequal %}
	{% endif %}
	<a class="block" href="../serve_single_pic/{{count.webcam}}/{{count.count}}" target="_blank">{{count.webcam}}/{{count.count}}</a>-
{% endfor %}
</div>
</body>
</html>
